<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>polls detail</title>
</head>
<body>
    <h1>{{ question.question_text }}</h1>
    <form action="{% url 'vote' question.id %}" method="post">{% csrf_token %}
        <ul>
            {% for choice in question.choice_set.all %}
                <li><input type="radio" name="choice" value="{{ choice.id }}">{{ choice.choice_text }}</li>
            {% endfor %}
        </ul>
        <input type="submit" value="Votar">
    </form>
    <br>
    <a href="{% url 'index' %}">Voltar</a>
</body>
</html>
